includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level alias 'max'
    level: 6

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
    excludePaths:
        - ./tests/**
#
    checkMissingIterableValueType: false